<% form_for(training_module, :url => {:controller => "trainings", :action => "edit_module", :id => training_module.id} ,:html => { :multipart => true ,
      :id => "training_module_#{training_module.id}", :name => "new_module", :id => "new_module_form" }) do |form| -%>
  <p>
    <%= form.label t(:name) %>
    <%= form.text_field :name %>
    <%= form.hidden_field :training_id  %>

  </p><br/>
  <p>
    <%= form.label t(:content) %><br/>
    <%= form.ckeditor_field :content %>
  </p><br/>
  <p>
    <a href="javascript: document.new_module.submit();">
    <div class="bt" id="submit_bt">
      <div class="bt-green-l"></div>
      <div class="bt-green-c"><%= t("update") %></div>
      <div class="bt-green-arrow"></div>
    </div>
  </a>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#submit_bt").mouseover(function(){
        $(this).children("div").css("background-position", 'bottom left');
      });
      $("#submit_bt").mouseout( function(){
        $(this).children("div").css("background-position", 'top left');
      });
    });
  </script>
  </p>
  <br/>
<% end -%>