<h1>Editing menu</h1>

<% form_for(@menu) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :menu_type_id %><br />
    <%= f.text_field :menu_type_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @menu %> |
<%= link_to 'Back', menus_path %>
