<h1><%= t('new subevent') %></h1>

<% form_for(@subevent) do |f| %>
  <%= f.error_messages %>

   <%= f.hidden_field :event_id %>

  <p>
    <%= f.label t('event_date') %><br />
    <%= f.datetime_select :event_date, {:start_year => @event.start_date.year, :end_year => @event.end_date.year, :start_month => @event.start_date.month} %>
  </p>
  <p>
    <%= f.label t('content') %><br />
    <%= f.ckeditor_field :content %>
  </p>
  <%= f.hidden_field :event_id %>
  <p>
    <%= f.submit t('create') %>
  </p>
<% end %>

<%= link_to t('back'), subevents_path %>
