<%#= javascript_tag "var token=\"#{ form_authenticity_token }\";" %>
<%#= javascript_include_tag 'admin_window' %>

  
<div id="admin-slider" >
  <div id="tab-panel-2" style="background-color: transparent !important; min-height:310px;">
    <%#= ExtensionManager.ajax_list_for("admin", "admin_panel") %>
    <%#= render :partial => "users/admin" %>
    <div id="admin-panel-tabs">
        <%= ExtensionManager.render(:position => "admin_panel", :action => "show", :view => self) %>
    </div>
  </div>
  <div id="tab-panel-1" style="padding:4px 4px 4px 4px">
    
 <div class="admin_left">
    <p>
      <% unless @page.nil? %>
        <%= t('admin.connect language') %>
        :
        <% for language in unconnected_languages(page.connector) %>
          <%= link_to image_tag("/images/flags/" + language.short_name + ".png", :title => language.name),
                {:controller =>  "pages", :action =>  "new",
                :language_id => language.id, :connector => page.connector, :parent_id => page.parent_id } %>
        <% end %>
      <% end %>
    </p>
  </div>
  <div class="admin_right">
    <p>
      <%= t('admin.page administration') %>:
      <% unless @page.nil? %>
        <%= link_to image_tag("/images/admin/page_edit.png", :title => t('admin.page edit')), "/pages/#{page.id}/edit" %>
        <%= link_to image_tag("/images/admin/page_delete.png", :title => t('admin.page delete')), page, :confirm => t('are you sure?'), :method => :delete %>
      <% end %>
      <%= t('admin.add page') %>:
      <%= link_to image_tag("/images/admin/page_add.png", :title => t('admin.new page')), new_page_path %>
      <% unless @page.nil? %>
        <%= link_to image_tag("/images/admin/page_child_add.png", :title => t('admin.add subpage')), {:controller => :pages, :action =>  :new, :parent_id => page.id} %>
      <% end %>
    </p>
  </div>

  </div>

</div>

<div id="admin-panel">

</div>

<div class="admin_power">
  <div class="tab-down-left"></div>
  <div class="tab-down-middle">

    <% if session[:admin].nil? || session[:admin] == :on %>
      <%= link_to_with_button({:button_color => "green", :image => "power-on"},"Admin", {:controller => "pages", :action => "admin_on_off"}) -%>
    <% else %>
      <%= link_to_with_button({:button_color => "red-down", :image => "power-off"},"Admin", {:controller => "pages", :action => "admin_on_off"}) -%>
    <% end %>
    <%= link_to_function "<div class=\"bt\"><div class=\"bt-green-small-arrow-down\"></div></div>",nil,:id => "show_admin" do |page|
      page['#show_admin'].hide
      #page.visual_effect :move, '#admin-activator', :y => 310
      page['#admin-slider'].blind_down
      page['#hide_admin'].show
      page['#hide_show'].show
    end -%>
    <%= link_to_function "<div class=\"bt\"><div class=\"bt-red-small-arrow-up\" id=\"hide_show\" style=\"display: none;\"></div></div>", nil, :id => "hide_admin" do |page|
      page['#hide_admin'].hide
      #page.visual_effect :move, 'admin-activator', :y => -310
      page['#admin-slider'].blind_up
      page['#show_admin'].show
    end -%>
  </div>
  <div class="tab-down-right"></div>
</div>
