<h1>Editing layout_template</h1>

<% form_for(@layout_template) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :header_image %><br />
    <%= f.text_field :header_image %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @layout_template %> |
<%= link_to 'Back', layout_templates_path %>
