<h1><%= t('editing extension_type') %></h1>

<% form_for(@extension_type) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label t('name') %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label t('controller_name') %><br />
    <%= f.text_field :controller_name %>
  </p>
  <p>
    <%= f.submit t('update') %>
  </p>
<% end %>

<%= link_to t('show'), @extension_type %> |
<%= link_to t('back'), extension_types_path %>
