<div  class="post-<%= post_class_name(counter, is_last) -%>">
  <div class="under_map">
    <div id="map" style="width:598px;height:300px"></div>
  </div>
</div>
<% content_for :meta_content do %>
  <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAv_R3bAupJr7vmIF_H5rSGhTwd-h-MRs9uckU1DcG63C9UmZHfBSkxJRgKIuy3zjfFyoO8oWMsvmA0w"
      type="text/javascript"></script>
    <script type="text/javascript">

    //<![CDATA[

    function load() {
      if (GBrowserIsCompatible()) {
        var map = new GMap2(document.getElementById("map"));
        var point = new GLatLng(<%= item.resource.latitude %>,<%= item.resource.logitude %>);
        map.setCenter(new GLatLng(<%= item.resource.latitude %>,<%= item.resource.logitude %>), 15);
        map.openInfoWindowHtml(map.getCenter(),"<%= item.resource.content %>");

        var shopIcon = new GIcon(G_DEFAULT_ICON);
        shopIcon.iconSize = new GSize(33, 32);
        shopIcon.iconAnchor = new GPoint(-15, 5);
        
        // Set up our GMarkerOptions object
        markerOptions = { icon:shopIcon };
        var bounds = map.getBounds();
        var southWest = bounds.getSouthWest();
        var northEast = bounds.getNorthEast();

        map.addOverlay(new GMarker(point,markerOptions));
        map.addControl(new GMapTypeControl());
        map.addControl(new GLargeMapControl3D());
        // Add 10 markers to the map at random locations

        var lngSpan = northEast.lng() - southWest.lng();
        var latSpan = northEast.lat() - southWest.lat();
        var point = new GLatLng(southWest.lat(), southWest.lng());
        map.addOverlay(new GMarker(point, markerOptions));
              
        }
    }
    //]]>
    </script>
<% end %>

<% content_for :body_options do %><%= ' onload="load()" onunload="GUnload()"' -%><% end %>