<div  class="post-<%= post_class_name(counter, is_last) -%>">
  <div class="under_map">
    <div id="map" style="width:598px;height:300px"></div>
  </div>
</div>
<% content_for :meta_content do %>

   <script type="text/javascript"> document.write(
      '<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=' +
      {
         'software-project.pl': 'ABQIAAAAv_R3bAupJr7vmIF_H5rSGhSMY8wI1xO133-FyZ3WNt1iO4UudRRzy73BS33tlIDLy07PCCFH2fwVug',
         'software-project.eu': 'ABQIAAAAv_R3bAupJr7vmIF_H5rSGhRI_hFJmtrVf1n7w0WPrOP5DQbJGBQCZ4qHmmnQzLVxPxeNLjBuLEfG0g'
      }[location.host] +
      '" type="text/javascript"><\/script>' );
   </script>
    <script type="text/javascript">

    //<![CDATA[

    function load() {
      if (GBrowserIsCompatible()) {
        var map = new GMap2(document.getElementById("map"));
        var point = new GLatLng(<%= item.resource.latitude %>,<%= item.resource.logitude %>);
        map.setCenter(new GLatLng(<%= item.resource.latitude %>,<%= item.resource.logitude %>), 15);
        map.openInfoWindowHtml(map.getCenter(),"<%= item.resource.content %>");

        map.addOverlay(new GMarker(point));
        map.addControl(new GMapTypeControl());
        map.addControl(new GLargeMapControl3D());
        // Add 10 markers to the map at random locations

        var lngSpan = northEast.lng() - southWest.lng();
        var latSpan = northEast.lat() - southWest.lat();
        var point = new GLatLng(southWest.lat(), southWest.lng());
        map.addOverlay(new GMarker(point, markerOptions));
              
        }
    }
    //]]>
    </script>
<% end %>

<% content_for :body_options do %><%= ' onload="load()" onunload="GUnload()"' -%><% end %>