<h1>Editing location</h1>

<% form_for(@location) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </p>
  <p>
    <%= f.label :logitude %><br />
    <%= f.text_field :logitude %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.ckeditor_field :content %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @location %> |
<%= link_to 'Back', locations_path %>
