<h1>New location</h1>

<% form_for(@location, :html => { :name => "location_" }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </p>
  <p>
    <%= f.label :logitude %><br />
    <%= f.text_field :logitude %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.ckeditor_field :content %>
  </p>
  <p>
    <%= f.submit_with_javascript( t('create')) %>
  </p>
<% end %>

<%= link_to 'Back', locations_path %>
