<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Light Site CMS</title>

    <%= render :partial => "shared/styles_and_scripts" %>
  </head>
  <body <%= yield :body_options %> >
    <% if admin? %>
      <div id="admin-activator">
        <%= render(:partial => "shared/admin", :locals => {:page => @page}) %>
      </div>
    <% end %>

  <div id="doc2" class="yui-t5">
<!-- *************************************** HEADER *************************************** -->
    <div id="hd">
      <%= menu_form(Page.find(:first), 1, 0) %>
    </div>
<!-- *************************************** HEADER END *************************************** -->
    <%# if admin? %>
      <!--<div id="admin-activator">-->
        <%#= render(:partial => "shared/admin", :locals => {:page => @page}) %>
      <!--</div>-->
    <%# end %>
      <div id="bd">
<!-- *************************************** MAIN PANEL *************************************** -->
          <div id="yui-main">
            <div class="yui-b">
                <%= yield :content %>
                <%= yield %>
            </div>
<!-- *************************************** MAIN PANEL END *************************************** -->
          </div>
<!-- *************************************** RIGHT PANEL *************************************** -->
        <div class="yui-b">
          <%= yield :side %>
        </div>
<!-- *************************************** RIGHT PANEL END *************************************** -->
      </div>
<!-- *************************************** FOOTER *************************************** -->
    <div id="ft">
      <%= yield :footer %>
    </div>
<!-- *************************************** FOOTER END *************************************** -->
  </div>

  </body>
</html>
